/*https://coolors.co/0d1321-1d2d44-3e5c76-748cab-f0ebd8*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --rich-black: #0D1321;
  --prussian-blue: #1D2D44;
  --payne-gray: #3E5C76;
  --silver-lake-blue: #748CAB;
  --eggshell: #F0EBD8;
}

header {
  width: 100%;
  display: flex;
}

nav {
  padding: 1.5rem;
  background-color: var(--rich-black);
  width: 100%;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
}

h1,
h2,
h3 {
  font-family: 'Archivo Black', Verdana, Geneva, Tahoma, sans-serif;
}

a,
p,
span {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.activities-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}